.entretenimento {
    background-color: beige;
}

.t1 {
    color: sienna;
}

.p1 {
    color: saddlebrown;
}

.tecnologia {
    background-color: deepskyblue;
}

.t2 {
color: cornsilk;
}

.p2 {
color: cornsilk;
}